# Force WWW and HTTPS
RewriteEngine On
RewriteCond %{HTTP_HOST} ^jaysmobilewash\.net [NC]
RewriteRule ^(.*)$ https://www.jaysmobilewash.net/$1 [L,R=301]

# Remove trailing slashes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

# Handle index.html redirects
RewriteRule ^(.*)index\.html$ /$1 [L,R=301]
